src/interaktiv.recommendations.egg-info
*.mo
*.egg
*.pyc
.coverage
.installed.cfg
dist/
share/
parts/
lib/
lib64
include/
eggs/
develop-eggs/
bin/
pyvenv.cfg
.mr.developer.cfg
node_modules/
var/
htmlcov/
coverage.xml
