#rise-header {
    width: 100%;
    padding: 0 40px;
}

#rise-header, #rise-footer {
    position: relative;
}

#rise-header div.header, #rise-footer div.footer {
    font-size: 32px;
    left: 110px;
    position: absolute;
    text-transform: uppercase;
}

#rise-header div.header {
    top: 40px
}

#rise-footer div.footer {
    bottom: 40px;
    width: 400px;
}

h1, h2, h3 {
    color: #1e272e;
}

.rendered_html h1, .rendered_html h2, .rendered_html h3 {
    color: #1e272e;
}

.input_area, .output_area {
  background: white;
}

.output_area {
  margin-top: 10px;
  border-left: 32px solid green;  
}

.slide-number-delimiter, .slide-number-b, .output_area .prompt, .prompt_container .input_prompt, #help_b {
  display: none;
}