#rise-header {
    width: 100%;
    padding: 0 40px;
}

#rise-header div.header {
    padding: 40px 60px 60px 60px;
    font-size: 32px;
    text-transform: uppercase;

    background-image: url('static/images/Interaktiv_Logo.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 125px 175px;

}

#rise-footer {
    position: relative;
}

#rise-footer div.footer {
    font-size: 32px;
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
    left: 120px;
    width: 400px;
}

h1, h2, h3 {
    color: #1e272e;
}

.rendered_html h1, .rendered_html h2, .rendered_html h3 {
    color: #1e272e;
}

.prompt_container .input_prompt {
    display: none;
}

.input_area {
  background: white;
}

.output_area {
  background: white;
  margin-top: 10px;
  border-left: 32px solid green;  
}

.output_area .prompt,
.slide-number-delimiter,
.slide-number-b,
#help_b {
  display: none;
}